In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\anish\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\anish\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: joblib in c:\users\anish\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in c:\users\anish\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in c:\users\anish\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: colorama in c:\users\anish\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [3]:
df = pd.read_csv('spam.csv',encoding = 'latin1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df = df.iloc[:,:2]

In [5]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.columns = ['catagory','mail']

In [7]:
df.head()

  catagory                                               mail
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
df.shape

(5572, 2)

In [9]:
df.isnull().sum()

catagory    0
mail        0
dtype: int64

In [10]:
df.duplicated().sum()

403

In [11]:
df.drop_duplicates(inplace = True)
df.duplicated().sum()

0

In [12]:
df.shape

(5169, 2)

In [13]:
#Text preprocessing step
#word vectorizer
#1)CountVectorizer
#2)TF-IDF vectorizzer

In [14]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk import word_tokenize
import re

In [20]:
lm = WordNetLemmatizer()
sw = stopwords.words('Englisg')
pritn(sw)

LookupError:
**********************************************************************
  Resource stopwords not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('stopwords')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/stopwords

  Searched in:
    - 'C:\\Users\\anish/nltk_data'
    - 'C:\\Users\\anish\\anaconda3\\nltk_data'
    - 'C:\\Users\\anish\\anaconda3\\share\\nltk_data'
    - 'C:\\Users\\anish\\anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\anish\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [15]:
df.head()

  catagory                                               mail
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
df['mail'][2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [17]:
df['mail'][5]

"FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, å£1.50 to rcv"

In [18]:
df['mail'][7]

"As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune"

In [19]:
df['mail'][6]

'Even my brother is not like to speak with me. They treat me like aids patent.'

In [22]:
r = []
for i in df['mail'][:5]:
    t = i.lower()
    t = re.sum(['^A-za-z0-9',' ',t])
    t = word_tokenize(t)   #returns as list
    t = [i for i in if i not in sw]
    t = [lm.lemmatize(i) for i in t] 
    t = " ".join(t) #returns string
    r.append(t)
print(r)

['go until jurong point, crazy.. available only in bugis n great world la e buffet... cine there got amore wat...', 'ok lar... joking wif u oni...', "free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005. text fa to 87121 to receive entry question(std txt rate)t&c's apply 08452810075over18's", 'u dun say so early hor... u c already then say...', "nah i don't think he goes to usf, he lives around here though"]

In [23]:
#applying text-preprocessing on the entire dataset

In [ ]:
data = []
for i in df['mail']:
    t = i.lower()
    t = re.sum(['^A-za-z0-9',' ',t])
    t = word_tokenize(t)   #returns as list
    t = [i for i in if i not in sw]
    t = [lm.lemmatize(i) for i in t] 
    t = " ".join(t) #returns string
    data.append(t)
print(data)

In [24]:
#select the dependent and independent features

In [25]:
x = data
y = df['catagory']
print(type(x))
print(type(y))
print(len(x))
print(y.shape)

NameError: name 'data' is not defined

In [26]:
#word vectors

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [29]:
tfidf = TfidfVectorizer(max_features=1500)

In [30]:
tfidf_res = tfidf.fit_transform(data).toarray()
print(len(tfidf.get_feature_names_out()))
print(tfidf.get_feature_names_out())

NameError: name 'data' is not defined

In [ ]:
tfidf_res[5][:1000]

In [ ]:
print(len(tfidf_res[2134]))   #1500
print(len(tfidf_res[3615]))   #1500
print(len(tfidf_res[1632]))   #1500

In [31]:
#split the data

In [32]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(tfidf_res,test_size=30,random_state = 42)
print(x_train.shape)   #(3618,1500)
print(x_test.shape)   #(1551,1500)
print(y_train.shape)  #(3618,)
print(y_test.shape)   #(1551,)

In [ ]:
df['catagory'].value_counts  # ham - 4516,spam - 653

In [ ]:
y_test.value_counts()   #ham - 1331 ,spam - 220

In [33]:
#ml model

In [34]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
mnb = MultinomialNB()
mnb.fit(x_train,y_train)  #MultinomialNB

In [ ]:
print('Train score',mnb.score(x_train,y_train))  #Train score 0.9814814814815
print('Test score',mnb.score(x_test,y_test))     #Test score 0.9754996776273372

In [35]:
from sklearn.metrics import confusion_matrix,classification_report

In [36]:
cm = confusion_matrix(y_test,ypred_mnb)
print(cm)
print(clssification_report(y_test,ypred_mnb))

NameError: name 'y_test' is not defined

In [37]:
#Random forest
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(n_estimators=80,criterion='gini',max_depth = 10,min_sample_split = 15)
rf.fit(x_train,y_train)   #RandomForestClassifier(n_estimators=80,criterion='gini',max_depth = 10,min_sample_split = 15)

In [ ]:
print('Train score ' , rf.score(x_train,y_train))  #Train score 0.9814814814815
print('Test sscore', rf.score(x_test,y_test))     #Test score 0.9754996776273372

In [ ]:
ypred_rf = rf.predict(x_test)

In [ ]:
cm = confusion_matrix(y_test,ypred_rf)
print(cm)
print(classification_report(y_test,ypred_rf))

In [38]:
#lof reg

In [40]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression(max_iter=1000)
lr.fit(x_train,y_train)

In [ ]:
print('Train score ' , lr.score(x_train,y_train))  #Train score 0.9814814814815
print('Test sscore', lr.score(x_test,y_test))     #Test score 0.9754996776273372

In [ ]:
ypred_lr = lr.predict(x_test)

In [ ]:
cm = confusion_matrix(y_test,ypred_lr)
print(cm)
print(classification_report(y_test,ypred_lr))